@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    int index = 1;

}
@model List<Category>

@foreach (var item in Model)
{
    if(index> 1){

        <p> @item.Name </p>

        <form asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" method="post">
            <button class="btn btn-danger" type="submit" style=" width:50%;">
                elimina
            </button>
        </form>
        <form asp-controller="Category" asp-action="Update" asp-route-id="@item.Id" method="post">
            <label for="Name"> inserire categoria </label>
            <input type="text" name="Name" />

            <button class="btn btn-sucess" type="submit" style=" width:50%;">
                modifica
            </button>
        </form>
        index++;

    }

}


    <form asp-controller="Category" asp-action="create" method="post">
        <label for="Name"> inserire categoria </label>
        <input type="text" name="Name" />

        <button class="btn btn-primary" type="submit"  style=" width:50%;">
                crea nuovo 
        </button>
    </form>